<div class="col s12 m12 l6 card center" id="burgers">
    <div class="row titles">
        <div class="col s12 center">
            <h5 class="burgerTitles">Waiting</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 center">
            {{#each burgers}}
            {{#unless devoured}}
            <div class="row titles">
                <div class="col s10 burgers z-depth-3">
                    <span>{{id}}) {{burgerName}}</span>
                    <button class="btn-large light-green darken-1 devourBurger right" data={{id}}>Devour</button>
                </div>
            </div>
            {{/unless}}
            {{/each}}
        </div>
    </div>
</div>
<div class="col s12 m12 l5 card" id="devouredBurgers">
    <div class="row titles">
        <div class="col s12 center">
            <h5 class="burgerTitles card-title">Eaten</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">
            {{#each burgers}}
            {{#if devoured}}
            <div class="burgers z-depth-2">
                <span class="devoured">{{id}}) {{burgerName}}</span>
            </div>
            
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>